/* resources/css/cart.css */
.cart-table th {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    color: #4b5563;
}

.modal-backdrop {
    background-color: rgba(107, 114, 128, 0.75);
}