/* Ẩn thanh cuộn mặc định và tạo thanh cuộn nhỏ gọn */
.cart-scroll::-webkit-scrollbar {
    width: 6px;
}

.cart-scroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.cart-scroll::-webkit-scrollbar-thumb {
    background: rgba(100, 116, 139, 0.2);
    border-radius: 8px;
}

.cart-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 116, 139, 0.4);
}